{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "dynamicRequire": true
  },
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": 0
  }
}
