/* BORDER BOX EVERYWHERE */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* PAGE SETUP */
html, body {
    height: 100%;
}

body {
    color: #444;
    font-family: Arial;
    font-size: 14px;
    margin: 0;
}

#siv {
    height: 100%;
}

.siv {
    height: 100%;
    background-color: #212121;
}

input:disabled {
    background-color: #f1f1f1;
}

.key-not-found {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    padding: 10%;
    font-size: 35px;
}

/* SIDEBAR */
.Sidebar {
    float: left;
    height: calc(100% - 45px);
    width: 240px;
    overflow: hidden;
}

.Sidebar-toggle-container {
    background-color: #5D5D5D;
    color: #212121;
    height: 30px;
}

.Sidebar-toggle-container:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.Sidebar-toggle-icon {
    float: left;
    width: 30px;
    padding-top: 3px;
}

.Sidebar-toggle-icon img {
    transition: transform 0.25s ease;
}

.Sidebar-toggle-icon img.rotate {
    transform: rotate(-180deg);
}

.Sidebar-toggle-title {
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    width: calc(100% - 30px);
}

/* FILES */

.files-container {
    float: left;
    height: calc(100% -  30px);
    transition: width 0.15s ease;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.files-container.visible {
    width: 240px;
}

.file-box {
    margin-top: 5px;
    margin-left: 2px;
    background-color: #F1F1F1;
    border-radius: 2px;
}

.file-box-controls {
    position: relative;
    height: 20px;
}

.file-box-controls img {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.file-box-controls img:hover {
    opacity: 1;
}

.file-box-content {
    overflow: auto;
    height: calc(100% - 20px);
}

.file-box-content ul {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
}

.file-box-content li {
    margin: 5px 0;
}

.dir-link {
    color: inherit;
}

.file-box-content a:not(.dir-link) {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    padding: 3px 6px;
}
.file-box-content a:hover {
    color: #337ab7;
}
.file-box-content a.active {
    background-color: #337ab7;
    color: #f1f1f1;
}

.file-box-dir-hidden {
    vertical-align: sub;
    transform: rotate(-90deg);
    transition: transform 0.25s ease;
}
.file-box-dir-shown {
    vertical-align: sub;
    transition: transform 0.25s ease;
}

.file-box-dir-listing.hidden {
    display: none;
}

/* EXTENSIONS CONTAINER */

.extensions-container {
    float: left;
    height: calc(100% -  30px);
    transition: width 0.5s ease;
}

.extensions-container.visible {
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ext-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: 1px solid #505050;
    border-radius: 2px;
}

.ext-title {
    padding-bottom: 15px;
}

.ext-title img {
    float: right;
    opacity: 0.2;
}

.ext-title img:hover {
    opacity: 1;
    cursor: pointer;
}

.ext-title span {
    font-weight: bold;
    color: #F1F1F1;
}

.ext-title.active span {
    color: #337AB7;
}

/* TOOLBAR */
.Toolbar {
    float: left;
    height: 45px;
    width: 100%;
}

.Toolbar-section {
    float: left;
    line-height: 40px;
}

.FileNav {
    -webkit-user-select: none;
    text-align: center;
    width: 240px;
}

.FileNav button {
    margin-left: 5px;
}

.ExtensionsNav {
    padding-left: 30px;
    width: calc(100% - 240px);
}

.ExtensionsNav button {
    margin-left: 5px;
}

/* VIEWER */
.Viewer {
    float: left;
    height: calc(100% - 45px);
    position: relative;
    width: calc(100% - 240px);
}

.LayerContainer {
    height: 100%;
}

.Layer {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* BUTTONS */
.btn {
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: 28px;
    line-height: 27px;
    min-width: 100px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
}

.btn-default {
    color: #BFBFBF;
    border-color: #7D7D7D;
    background-color: transparent;
}

.btn-active {
    border-color: #7CC0FB;
    color: #7CC0FB;
}

.btn-default:hover {
    background-color: #F1F1F1;
    color: #212121;
}

.btn-blue {
    background-color: #337AB7;
    border-color: #2E6DA4;
    color: white;
}

.btn-blue:hover {
    background-color: #286090;
    border-color: #204D74;
}
